/* Обнуление отступов и полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Обнуление списков */
ul,
ol {
    list-style: none;
}

/* Обнуление ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Обнуление заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Обнуление формы */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

/* Обнуление изображений */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ------Общие стили------- */

p {
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

._container {
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}
