.header {
  position: absolute;
  width: 1920px;
  height: 82px;
  top: 37px;
  border-bottom: 1px solid rgba(126, 134, 142, 1);
  background-color: black;

  &__container {
    position: relative;
    height: 100%;

    & h1 {
      font-weight: 500;
      font-size: 21px;
      line-height: 143%;
      color: white;
    }
  }

  &__name {
    position: absolute;
    left: 0;
    top: 10px;
  }
}



.location {
  position: absolute;
  width: 151;
  height: 36;
  top: 46px;
  left: 1099px;
  gap: 59px;
  display: flex;
  color: white;


  /* Стили */
  &__marker {
    /* Стили */
  }

  &__street {
    /* Стили */
  }
}



.contact {

  /* Стили */
  &__icon {
    /* Стили */
  }

  &__containet {
    /* Стили */
  }

  &__number {
    /* Стили */
  }

  &__work-time {
    /* Стили */
  }
}